In [1]:
import pandas as pd
ori_tibu=pd.read_excel('GSAF5.xls')
tiburon=ori_tibu

1º PASO. Hacemos una copia del contenido.

In [2]:
tiburon=ori_tibu

2º PASO: iniciamos la limpieza del mismo. Para ellos pasamos a convertir los nombres de las columnas en minúscolas y sin espacio entre ellos.

In [3]:
#Vamos a ver si encontramos líneas completas vacías o duplicados.

In [4]:
tiburon.columns=tiburon.columns.str.lower().str.replace(" ","_")

In [5]:
#Eliminación de columnas sin contenido importante:
tiburon = tiburon.drop('unnamed:_11', axis=1)
tiburon = tiburon.drop('unnamed:_21', axis=1)
tiburon = tiburon.drop('unnamed:_22', axis=1)
tiburon = tiburon.drop('case_number', axis=1)
tiburon = tiburon.drop('href_formula', axis=1)
tiburon = tiburon.drop('pdf', axis=1)
tiburon = tiburon.drop('href', axis=1)
tiburon = tiburon.drop('original_order', axis=1)
tiburon = tiburon.drop('source', axis=1)
tiburon = tiburon.drop('case_number.1', axis=1)

In [6]:
tiburon.dropna(how='all',inplace=True)

3º PASO: organizar las columnas y la información que hay en ella.

In [7]:
#Unificacion de valores dentro de la columna SEX
tiburon['sex'].replace((' nan','.','lli','N'), 0,inplace=True)
tiburon['sex'].replace(('M',' M','M x 2','M '), 2 ,inplace=True)
tiburon['sex'].replace(('F'), 1,inplace=True)

In [8]:
#Unificacion de valores dentro de la columna INJURY

tiburon['injury'].replace(('PROVOKED INCIDENT'),'Unknown.' ,inplace=True)
tiburon['injury'].fillna('Unknown.', inplace=True)



tiburon.loc[tiburon['injury'].str.contains('remain|bodi|  |information|Disappeared|Missing|Unknown|thought|detail|prior to death|post|prior to death|not recovered', case=False, na=False), 'injury'] = 'Unknown.'

tiburon.loc[tiburon['injury'].str.contains('FATAL|No survivors|dead', case=False, na=False), 'injury'] = 'Fatal'

tiburon.loc[tiburon['injury'].str.contains('severed|Serious injury|serious injury', case=False, na=False), 'injury'] = 'Severious injury'


tiburon.loc[tiburon['injury'].str.contains( 'brok', case=False, na=False), 'injury'] = 'Broken-bones'

tiburon.loc[tiburon['injury'].str.contains('lacerations|laceratedLaceration|Lacer', case=False, na=False), 'injury'] = 'Laceraciones'

tiburon.loc[tiburon['injury'].str.contains('amputated', case=False, na=False), 'injury'] = 'Amputated'

tiburon.loc[tiburon['injury'].str.contains('Bit|Bite|biten|bite|Biten|bitten', case=False, na=False), 'injury'] = 'Bitten'

tiburon.loc[tiburon['injury'].str.contains('injury|Injury|injuries|Injuries|injured|wound', case=False, na=False), 'injury'] = 'Injury'


tiburon.loc[tiburon['injury'].str.contains('gash|scratch', case=False, na=False), 'injury'] = 'Gash'

tiburon.loc[tiburon['injury'].str.contains('nipped', case=False, na=False), 'injury'] = 'Nipped'

tiburon.loc[tiburon['injury'].str.contains('Abrasions|abrasions|Abrasion', case=False, na=False), 'injury'] = 'Abrasions'


tiburon.loc[tiburon['injury'].str.contains('injuring|abraded|Minor', case=False, na=False), 'injury'] = 'Minor injury'


tiburon.loc[tiburon['injury'].str.contains('Brui', case=False, na=False), 'injury'] = 'Bruised'

tiburon.loc[tiburon['injury'].str.contains('mort', case=False, na=False), 'injury'] = 'Ataque post-mortem'

tiburon.loc[tiburon['injury'].str.contains('Cut', case=False, na=False), 'injury'] = 'Cuts'



tiburon.loc[tiburon['injury'].str.contains('kayak|boat|Dinghy', case=False, na=False), 'injury'] = 'Daños materiales'

tiburon.loc[tiburon['injury'].str.contains('Puncture|puncture', case=False, na=False), 'injury'] = 'Puncture'


tiburon.loc[tiburon['injury'].str.contains('drowning|drowned', case=False, na=False), 'injury'] = 'Drowning'


tiburon.loc[tiburon['injury'].str.contains('No Inju|No inury', case=False, na=False), 'injury'] = 'No Injury'

causas=['Bitten', 'Injurie', 'Laceraciones', 'Fatal','Unknown.', 'We need more information.', 'Survived', 'Amputated', 'Drowning', 'Minor injury', 'Puncture', 'Cuts', 'Abrasions', 'Gash', 'Broken bones', 'Daños materiales', 'Bruised', 'Nipped', 'No Injury']

tiburon['injury'] = tiburon['injury'].apply(lambda x: x if x in  causas else 'Others')

In [9]:
#Unificacion de valores dentro de la columna ACTIVITY
tiburon.loc[tiburon['activity'].str.contains('Swim', case=False, na=False), 'activity'] = 'Swimming'
tiburon.loc[tiburon['activity'].str.contains('Bat', case=False, na=False), 'activity'] = 'Bathing'
tiburon.loc[tiburon['activity'].str.contains('Sur', case=False, na=False), 'activity'] = 'Surf'
tiburon.loc[tiburon['activity'].str.contains('fis' or 'net', case=False, na=False), 'activity'] = 'Fishing'

tiburon.loc[tiburon['activity'].str.contains('div', case=False, na=False), 'activity'] = 'Diving'
tiburon.loc[tiburon['activity'].str.contains('Fell', case=False, na=False), 'activity'] = 'Fell into the water '
tiburon.loc[tiburon['activity'].str.contains('Flo'or 'Treading water', case=False, na=False), 'activity'] = 'Floating '

tiburon.loc[tiburon['activity'].str.contains('Paddle', case=False, na=False), 'activity'] = 'Paddle boarding'
tiburon.loc[tiburon['activity'].str.contains('Jum', case=False, na=False), 'activity'] = 'Jumping' 
tiburon.loc[tiburon['activity'].str.contains('Phot' or 'fil', case=False, na=False), 'activity'] = 'Photography and filming' 

tiburon.loc[tiburon['activity'].str.contains('Air', case=False, na=False), 'activity'] = 'Air Disaster'
tiburon.loc[tiburon['activity'].str.contains('Feed', case=False, na=False), 'activity'] = 'Feeding a shark'
tiburon.loc[tiburon['activity'].str.contains('cano', case=False, na=False), 'activity'] = 'Canoe'
tiburon.loc[tiburon['activity'].str.contains('Bod', case=False, na=False), 'activity'] = 'Body boarding'

tiburon.loc[tiburon['activity'].str.contains('disaster|swamped|Lifesaving', case=False, na=False), 'activity'] = 'Sea disaster'



actividades_acuaticas = ["Surf","Fishing", "Swimming","Diving","Bathing","Wading","Snorkeling", "Standing", "Fell into the water","Body boarding", "Sea disaster", "Floating", "Boogie boarding", "Kayaking", "Treading water", "Paddle boarding", "Jumping",  "Canoe", "Walking", "Boogie Boarding", "Feeding a shark", "Playing", "Rowing", "Sailing"]
tiburon['activity'] = tiburon['activity'].apply(lambda x: x if x in actividades_acuaticas else 'Others')

In [15]:
#Unificacion de valores dentro de la columna Especies
tiburon.rename(columns={"species_": "species"}, inplace = True)


tiburon.loc[tiburon['species'].str.contains('whit', case=False, na=False), 'species'] = 'White shark'
tiburon.loc[tiburon['species'].str.contains('tiger', case=False, na=False), 'species'] = 'Tiger shark'
tiburon.loc[tiburon['species'].str.contains('mak', case=False, na=False), 'species'] = 'Mako shark'
tiburon.loc[tiburon['species'].str.contains('ull', case=False, na=False), 'species'] = 'Bull shark'

tiburon.loc[tiburon['species'].str.contains('oppe', case=False, na=False), 'species'] = 'Cooper shark'
tiburon.loc[tiburon['species'].str.contains('reef', case=False, na=False), 'species'] = 'Grey reef shark'
tiburon.loc[tiburon['species'].str.contains('urse', case=False, na=False), 'species'] = 'Nurse shark'
tiburon.loc[tiburon['species'].str.contains('beag', case=False, na=False), 'species'] = 'Porbeagle shark'
tiburon.loc[tiburon['species'].str.contains('onze', case=False, na=False), 'species'] = 'Bronze whaler shark'
tiburon.loc[tiburon['species'].str.contains('lue', case=False, na=False), 'species'] = 'Blue shark.'
tiburon.loc[tiburon['species'].str.contains('emon', case=False, na=False), 'species'] = 'Lemon shark.'
tiburon.loc[tiburon['species'].str.contains('tip', case=False, na=False), 'species'] = 'Blacktip shark.'
tiburon.loc[tiburon['species'].str.contains('pago', case=False, na=False), 'species'] = 'Galapagos shark.'
tiburon.loc[tiburon['species'].str.contains('pinner', case=False, na=False), 'species'] = 'Spinner shark.'
tiburon.loc[tiburon['species'].str.contains('Dusky', case=False, na=False), 'species'] = 'Dusky shark.'



tiburon['species'].fillna('Unknown shark', inplace=True)
shark_list = ["Unknown shark", "White shark", "We need more information", "Tiger shark",  "Bull shark",  "Blacktip shark",  "Nurse shark",   "Grey reef shark",  "Bronze whaler shark",  "Blue shark",  "Mako shark", "Lemon shark"]
tiburon['species'] = tiburon['species'].apply(lambda x: x if x in shark_list else 'Unknown shark')

 
tiburon.loc[tiburon['species'].str.contains('stionable|prior|nvali|not confirmed', case=False, na=False), 'species'] = 'We need more information.'

In [18]:
#Unificacion de valores dentro de la columna COUNTRY
tiburon['country'] = tiburon['country'].str.lower()

tiburon.loc[tiburon['country'].str.contains('rea', case=False, na=False), 'country'] = 'south korea'
tiburon.loc[tiburon['country'].str.contains('bri|sco', case=False, na=False), 'country'] = 'great britain'
tiburon.loc[tiburon['country'].str.contains('engl' or  'grans'or 'sco', case=False, na=False), 'country'] = 'great britain'
tiburon.loc[tiburon['country'].str.contains('sea|ocean', case=False, na=False), 'country'] = 'inteternational waters'
tiburon.loc[tiburon['country'].str.contains('elle', case=False, na=False), 'country'] = 'seychelles'
tiburon.loc[tiburon['country'].str.contains('ceyl', case=False, na=False), 'country'] = 'sri lanka'
tiburon.loc[tiburon['country'].str.contains('PPINES', case=False, na=False), 'country'] = 'philippines'


tiburon['country'].unique()

array(['bahrain', 'bahamas', 'australia', 'south africa', 'usa', 'mexico',
       'new zealand', 'egypt', 'belize', 'philippines',
       'international waters', 'spain', 'portugal', 'colombia', 'ecuador',
       'french polynesia', 'new caledonia', 'turks and caicos', 'brazil',
       'seychelles', 'argentina', 'fiji', 'maldives', 'south korea',
       'japan', 'indonesia', 'jamaica', 'thailand', 'columbia',
       'costa rica', 'canada', 'jordan', 'st kitts / nevis', 'st martin',
       'papua new guinea', 'reunion island', 'israel', 'china', 'samoa',
       'ireland', 'italy', 'malaysia', 'libya', nan, 'cuba', 'mauritius',
       'solomon islands', 'comoros', 'reunion', 'united kingdom',
       'united arab emirates', 'cape verde', 'dominican republic',
       'cayman islands', 'aruba', 'mozambique', 'puerto rico', 'greece',
       'st. martin', 'france', 'trinidad & tobago', 'kiribati',
       'diego garcia', 'taiwan', 'palestinian territories', 'guam',
       'nigeria', 'tonga', 'croatia', 'saudi arabia', 'chile', 'antigua',
       'kenya', 'russia', 'turks & caicos', 'united arab emirates (uae)',
       'azores', 'malta', 'vietnam', 'madagascar', 'panama', 'somalia',
       'nevis', 'norway', 'senegal', 'yemen', 'gulf of aden',
       'sierra leone', 'st. maartin', 'grand cayman', 'liberia',
       'vanuatu', 'mexico ', 'honduras', 'venezuela', 'sri lanka',
       ' tonga', 'uruguay', 'india', 'micronesia', 'okinawa', 'tanzania',
       'marshall islands', 'egypt / israel', 'hong kong', 'el salvador',
       'angola', 'bermuda', 'montenegro', 'iran', 'tunisia', 'namibia',
       'bangladesh', 'palau', 'western samoa', 'grenada', 'iraq',
       'turkey', 'singapore', 'sudan', 'johnston island', 'new guinea',
       'federated states of micronesia', 'admiralty islands',
       'persian gulf', 'nicaragua ', 'maldive islands', 'american samoa',
       'andaman / nicobar islandas', 'gabon', 'mayotte', 'the balkans',
       'sudan?', 'martinique', 'guatemala', 'netherlands antilles',
       'northern mariana islands', 'iran / iraq', 'java', 'nicaragua',
       'central pacific', 'solomon islands / vanuatu', 'bay of bengal',
       'slovenia', 'curacao', 'iceland', 'italy / croatia', 'barbados',
       'monaco', 'guyana', 'haiti', 'san domingo', 'kuwait', 'yemen ',
       'falkland islands', 'crete', 'cyprus', 'egypt ', 'west indies',
       'burma', 'lebanon', 'paraguay', 'sri lanka.', 'georgia', 'syria',
       'tuvalu', 'guinea', 'andaman islands',
       'equatorial guinea / cameroon', 'cook islands', 'tobago', 'peru',
       'africa', 'algeria', 'coast of africa', 'ghana', 'greenland',
       'sweden', 'roatan', 'between portugal & india', 'djibouti',
       'bahrein', 'asia?'], dtype=object)

In [19]:
#Revisión de tabla AGE
tiburon['age'].fillna('Unknown.', inplace=True)
tiburon.loc[pd.to_numeric(tiburon['age'], errors='coerce') <= 18, 'age'] = 'Under 18 years old'
tiburon.loc[pd.to_numeric(tiburon['age'], errors='coerce') >= 65, 'age'] = 'Seniors'
tiburon.loc[pd.to_numeric(tiburon['age'], errors='coerce') <= 65, 'age'] = 'Adults'

tiburon.loc[tiburon['age'].str.contains('Elderly', case=False, na=False), 'age'] = 'Seniors.'
tiburon.loc[tiburon['age'].str.contains('30|20|21|33|23|25|36|46|40|50|60|adu|middle', case=False, na=False), 'age'] = 'Adults'
tiburon.loc[tiburon['age'].str.contains('7|8|young|teen|month|9|11|12|13|14|15|6½|2½|!6|!2|16', case=False, na=False), 'age'] = 'Under 18 years old'
edades=['Under 18 years old', 'Seniors' , 'Adults']
tiburon['age'] = tiburon['age'].apply(lambda x: x if x in edades else 'Unknown')
tiburon['age'].value_counts()

age
Unknown               3002
Adults                2626
Under 18 years old    1230
Seniors                 76
Name: count, dtype: int64

In [20]:
#Revisión de tabla TIME.

tiburon.loc[tiburon['time'].str.contains('00|01|02|03|04|05|06|sunset|daybreak', case=False, na=False), 'time'] = 'Between 00:00 and 6:59'
tiburon.loc[tiburon['time'].str.contains('07|08|09|10|11|morning|AM|A.M|Day', case=False, na=False), 'time'] = 'Between 07 and 11:50'
tiburon.loc[tiburon['time'].str.contains('12|13|14|15|16|17|18|dusk|after|Midd|unch|P.M', case=False, na=False), 'time'] = 'Between 12 and 18:50'
tiburon.loc[tiburon['time'].str.contains('20|21|22|23|19|ark|sundow|awn|nigh|Evening', case=False, na=False), 'time'] = 'Between 19 and 23:59'

tiempo=['Between 00:00 and 6:59','Between 19 and 23:59','Between 12 and 18:50','Between 07 and 11:50']
tiburon['time'] = tiburon['time'].apply(lambda x: x if x in  tiempo else 'Unknown')
tiburon['time'].fillna('Unknown', inplace=True)
tiburon.time.value_counts()

time
Unknown                   3541
Between 00:00 and 6:59    1309
Between 12 and 18:50      1180
Between 07 and 11:50       738
Between 19 and 23:59       166
Name: count, dtype: int64

In [22]:
#Revisión de tabla YEAR.

tiburon['year'] = tiburon['year'].astype(str)
tiburon["year"] = tiburon["year"].str.replace(".0", "")
tiburon.loc[tiburon['year'].str.contains('nan', case=False, na=False), 'year'] = '0'
tiburon['year'] = tiburon['year'].astype(int)

tiburon['year'] = tiburon['year'].apply(lambda x: 1500 if x <1600 else x)
tiburon['year'] = tiburon['year'].apply(lambda x: 1600 if 1600<= x <1700 else x)
tiburon['year'] = tiburon['year'].apply(lambda x: 1700 if 1700<=x <1800 else x)
tiburon['year'] = tiburon['year'].apply(lambda x: 1800 if 1800<=x <1900 else x)
tiburon['year'] = tiburon['year'].apply(lambda x: 1900 if 1900<=x <1950 else x)
tiburon['year'] = tiburon['year'].apply(lambda x: 1950 if 1950<=x <2000 else x)
tiburon['year'] = tiburon['year'].apply(lambda x: 2000 if 2000<=x <2010 else x)
tiburon['year'] = tiburon['year'].apply(lambda x: 2010 if 2010<=x <2020 else x)
tiburon['year'] = tiburon['year'].apply(lambda x: 2020 if 2020<=x <2030 else x)

tiburon.year.value_counts()

year
1950    2434
2010    1244
1900    1067
2000    1022
1800     571
2020     417
1500     141
1700      31
1600       7
Name: count, dtype: int64

INICIO DE LA CREACIÓN DE TABLAS

In [ ]:
tiburon.groupby( "age")['sex'].agg(["mean"])

In [ ]:
tablapiv2=tiburon.pivot_table(tiburon, index=['age', 'injury'], values='sex', aggfunc='count')
tablapiv2['sex']=tablapiv2['sex']


tablapiv2

In [ ]:
tiburon['time'].value_counts()